@media all and (max-width: 800px)
{
header
{
background-color: rgb(129, 148, 148);
}
#titre_principal
{
display: inline-block;
}
header h1
{
font-family: 'BallparkWeiner';
font-size: 0.5em;
font-weight: normal;
}
#logo, header h1
{
display: inline-block;
margin-bottom: 0px;
}
header h2
{
font-family: serif;
font-size: 0.1em;
margin-top: 0px;
font-weight: normal;
}
nav
{
display: inline-block;
width: 300px;
height: 5px;
text-align: right;
}
nav ul
{
list-style-type: none;
}
nav li
{
display: inline-block;
margin-right: 5px;
}
nav a
{
font-size: 1.3em;
color: #181818;
padding-bottom: 3px;
text-decoration: none;
}
nav a:hover
{
color: #760001;
border-bottom: 3px solid #760001;
}
ul#menu_horizontal {
    width : 400px;
    height : 10px;
    margin : 1em 0 0 0;
    padding : 0;
    list-style-type :decimal;
    }
    ul#menu_horizontal li {
    padding : 0 0.5em;
    line-height : 15px;
    }
    ul#menu_horizontal li.bouton_gauche {
    float : right;
    border-right : 0.5px;
    }

    ul#menu_horizontal a {
    color : rgb(124, 56, 56);
    text-decoration : #706b64;
    padding : 0 0.5em;
    }
    ul#menu_horizontal a img {
    border :#706b64;
    padding : 0 0.3em;
    }
.maternity-bag-section {
    background-color:#706b64;
    background-size: cover;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
.maternity-bag-content {
    text-align:left;
    color: #fff;
  }
  
  .shop-now-btn {
    padding: 5px 10px;
    background-color: #ff7b6e;
    color: #fff;
    text-decoration: none;
  }
  section{
    display: flex;
    text-align: left;
  }
  article{
    flex: 1;
    width: 400px;
    margin-right: 5px;

  }
  aside{
    position: relative;
width: 100px;
background-color: #d5bd9b;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 5px;
padding: 5px;
color: white;
font-size: 1.0em;
  }

  footer
  {
  background: url('images/ico_top.png') no-repeat top center,
  url('images/separateur.png') repeat-x top, url('images/ombre.png')
  repeat-x top;
  padding-top: 25px;
  }
  footer p, footer ul
  {
  font-size: 0.8em;
  }
  footer h1
  {
  font-size: 1.1em;
  }
  #tweet, #mes_photos, #mes_amis
  {
  display: inline-block;
  vertical-align: top;
  }
  #tweet
  {
  width: 28%;
  }
  #mes_photos
  {
  width: 35%;
  }
  #mes_amis
  {
  width: 31%;
  }
  #mes_photos img
  {
  border: 1px solid #181818;
  margin-right: 2px;
  }
  #mes_amis ul
  {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  width: 48%;
  list-style-image: url('images/ico_liensexterne.png');
  padding-left: 2px;
  }
  #mes_amis a
  {
  text-decoration: none;
  color: #760001;
  }
  .image-wrapper{
    display: flex;
    justify-content: center;
  }
  .image-wrapper a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  .image-wrapper img{
    width: 200px;
    height: auto;
  }
  .image-wrapper a:hover{
    color: #ff0000;
  }
}